/.projectile-cache.eld
/bookmarks
/elpa/
/org-roam.db
/places
/projectile-bookmarks.eld
/recentf
/transient/
/.cache/
/.org-id-locations
/.lsp-session-v1
/auto-save-list/
/backups/
/ido.last
/undo/
/tmp